<div style="color:white" id="gm_menu">

    <!-- NINTENDO 게임 관련 정렬 -->
    <div id="nintento_device">
        <!-- 1번째 줄 -->
        <table class="imagepr">
            <tr>
                <td>
                    <strong>NINTENDO</strong><br><br>
                </td>
            </tr>
            <tr>
                <td class="image" id=image1>
                    <a href="nintendo/LOZBOTW">
                        <img src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image2>
                    <a href="nintendo/LOZSS">
                        <img src=" img/LOZSS.png">
                    </a>
                </td>
                <td class="image" id=image3>
                    <a href="nintendo/supermario">

                        <img src="img/supermario.png">
                    </a>
                </td>
                <td class="image" id=image4>
                    <a href="nintendo/LOZBOTW">
                        <img src="img/LOZBOTW.png">
                    </a>
                </td>
            <tr>
                <td id="imageprst">젤다의 전설<br> 브레스오브더 와일드</td>
                <td id="imageprst">젤다의 전설<br> 스카이워드 소드</td>
                <td id="imageprst">슈퍼마리오</td>
                <td id="imageprst">젤다의 전설<br> 브레스오브더 와일드</td>
            </tr>
        </table>


        <!-- 2번째 줄 -->
        <table class="imagepr">
            <tr>
                <td class="image" id=image5>
                    <a href="nintendo/LOZBOTW">
                        <img src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image6>
                    <a href="nintendo/LOZBOTW">
                        <img src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image7>
                    <a href="nintendo/LOZBOTW">
                        <img src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image8>
                    <a href="nintendo/LOZBOTW">
                        <img src="img/LOZBOTW.png">
                    </a>
                </td>
            <tr>
                <td id="imageprst">젤다의 전설<br> 브레스오브더 와일드</td>
                <td id="imageprst">젤다의 전설<br> 브레스오브더 와일드</td>
                <td id="imageprst">젤다의 전설<br> 브레스오브더 와일드</td>
                <td id="imageprst">젤다의 전설<br> 브레스오브더 와일드</td>
            </tr>
        </table>
    </div>
</div>
</div>