<div class="loginForm">
    <h2>회원정보 수정완료</h2>
    <div class="resultForm">
        <%= username %>님의 회원정보가 수정되었습니다.
            다시 로그인 해주세요.
    </div>
    <form method="post" action="/login">
        <input type="hidden" name="previousPath" value="<%= previousPath %>">
        <input type="submit" class="btn" value="다시 로그인하기">
    </form>
</div>