<script>
    function onSubmitForm() {
        const password = document.querySelector('[name="password"]').value;
        const password2 = document.querySelector('[name="password2"]').value;

        if (password !== password2) {
            alert("비밀번호가 일치하지 않습니다.");
            return false; // 폼 제출을 막기 위해 false를 반환합니다.
        }
    }
</script>
<form action="success_updateuser" method="post" class="loginForm" onsubmit="return onSubmitForm();">
    <h2>
        <%=username%>님의 회원정보
    </h2>
    <div class="Form">
        <table>
            <tr>
                <td class="alert">
                    비밀번호
                </td>
                <td>
                    <input type="password" class="id" name="password" placeholder="변경할 비밀번호">
                </td>
            </tr>
        </table>
    </div>
    <div class="Form">
        <table>
            <tr>
                <td class="alert">
                    재입력
                </td>
                <td>
                    <input type="password" class="id" name="password2" placeholder="재입력">
                </td>
            </tr>
        </table>
    </div>
    <div class="Form">
        <table>
            <tr>
                <td class="alert">
                    이메일
                </td>
                <td>
                    <input type="email" class="id" name="email" placeholder="<%=useremail%>">
                </td>
            </tr>
        </table>
    </div>
    <input type="hidden" name="previousPath" value="<%= previousPath %>">
    <input type="hidden" name="id" value="<%= username %>">
    <input type="submit" class="btn" value="회원정보 수정">
</form>