<div class="loginForm">
    <h2>
        <%=username%>님의 회원정보
    </h2>
    <div class="Form">
        <table>
            <tr>
                <td class="alert">
                    비밀번호
                </td>
                <td class="userinfo">
                    **********
                </td>
            </tr>
        </table>
    </div>
    <div class="Form">
        <table>
            <tr>
                <td class="alert">
                    이메일
                </td>
                <td class="userinfo">
                    <%=useremail%>
                </td>
            </tr>
        </table>
    </div>

    <form method="post" action="/updateusers">
        <input name="previousPath" type="hidden" value="<%= previousPath %>">
        <input class="btn" type="submit" value="회원정보 수정">
    </form>
</div>