<script>
    // 폼 제출 시 이벤트 핸들러
    function onSubmitForm() {
        const password = document.querySelector('[name="password"]').value;
        const password2 = document.querySelector('[name="password2"]').value;

        if (password !== password2) {
            alert("비밀번호가 일치하지 않습니다.");
            return false; // 폼 제출을 막기 위해 false를 반환합니다.
        }
    }
</script>
<div>
    <form action="/sspwd" method="post" class="findpwd" onsubmit="return onSubmitForm();">
        <h2>
            <%= user.id %>님의 비밀번호 변경
        </h2>
        <div class="Form">
            <table>
                <tr>
                    <td class="alert">
                        비밀번호 변경
                    </td>
                    <td>
                        <input type="password" class="id" name="password" placeholder="비밀번호 변경">
                    </td>
                </tr>
            </table>
        </div>
        <div class="Form">
            <table>
                <tr>
                    <td class="alert">
                        재입력
                    </td>
                    <td>
                        <input type="password" class="id" name="password2" placeholder="재입력">
                    </td>
                </tr>
            </table>
        </div>
        <input type="hidden" name="previousPath" value="<%= previousPath %>">
        <input type="hidden" name="_id" value="<%= user._id %>">
        <input type="hidden" name="id" value="<%= user.id %>"> <!-- userId 값을 숨겨진 필드에 추가 -->
        <input type="submit" class="btn" value="비밀번호 변경">
    </form>
</div>