<div class="loginForm">
    <h2>변경완료</h2>
    <div class="resultForm">
        비밀번호 변경이 완료되었습니다.
    </div>

    <form action="/login" method="post">
        <input type="hidden" name="previousPath" value="<%= previousPath %>">
        <input type="submit" class="btn" value="로그인하기">
    </form>
</div>