<form action="loginProcess" method="post" class="loginForm">
  <h2>로그인</h2>
  <div class="Form">
    <table>
      <tr>
        <td class="alert">
          아이디
        </td>
        <td>
          <input type="text" class="id" name="id" placeholder="아이디">
        </td>
      </tr>
    </table>
  </div>
  <div class="Form">
    <table>
      <tr>
        <td class="alert">
          비밀번호
        </td>
        <td>
          <input type="password" class="id" name="password" placeholder="비밀번호">
        </td>
      </tr>
    </table>
  </div>
  <input type="hidden" name="previousPath" value="<%= previousPath %>">
  <input type="submit" class="btn" value="로그인">
</form>
<form method="post" action="/findidpassword">
  <div class="bottomText1">
    <input type="hidden" name="previousPath" value="<%= previousPath %>">
    <input class="signup" type="submit" value="ID/PWD찾기">
  </div>
</form>
<form action="/signup" method="post" class="loginForm">
  <div class="bottomText2">
    <table>
      <tr>
        <td class="signup_button_td1">
          아직 회원이 아니신가요?
        </td>
      </tr>
      <tr>
        <td class="signup_button_td2">
          <input type="hidden" name="previousPath" value="<%= previousPath %>">
          <input class="signup" type="submit" value="회원가입">
        </td>
      </tr>
    </table>
  </div>
</form>