<div>
    <form action="findid" method="post" class="findid">
        <h2>아이디 찾기</h2>
        <div class="Form">
            <table>
                <tr>
                    <td class="alert">
                        이메일
                    </td>
                    <td>
                        <input type="email" class="id" name="email" placeholder="이메일">
                    </td>
                </tr>
            </table>
        </div>
        <input type="hidden" name="previousPath" value="<%= previousPath %>">
        <input type="submit" class="btn" value="아이디 찾기">
    </form>
</div>

<div>
    <form action="findpwd" method="post" class="findpwd">
        <h2>비밀번호변경</h2>
        <div class="Form">
            <table>
                <tr>
                    <td class="alert">
                        아이디
                    </td>
                    <td>
                        <input type="text" class="id" name="id" placeholder="아이디">
                    </td>
                </tr>
            </table>
        </div>
        <div class="Form">
            <table>
                <tr>
                    <td class="alert">
                        이메일
                    </td>
                    <td>
                        <input type="email" class="id" name="email" placeholder="이메일">
                    </td>
                </tr>
            </table>
        </div>
        <input type="hidden" name="previousPath" value="<%= previousPath %>">
        <input type="submit" class="btn" value="비밀번호 찾기">
    </form>
</div>