@charset "utf-8";

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: sans-serif;

}

body {
  background-color: #000000;
}

table {
  width: 100%;
}


.loginForm {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  color: #ffffff;
  text-align: center;
}

.loginForm h2 {
  text-align: center;
  margin: 30px;
}

.findid {
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  color: #ffffff;
  text-align: center;
}

.findid h2 {
  text-align: center;
  margin: 30px;
}

.findpwd {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  color: #ffffff;
  text-align: center;
}

.findpwd h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.Form {
  border: 1px solid #adadad;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px;
}

.resultForm {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px 10px;
}


.alert {
  font-size: 15px;
  width: 18%;
  text-align: left;
}

.userinfo {
  color: #50bcdf;
}

.id {
  width: 85%;
  border: none;
  outline: none;
  font-size: 16px;
  height: 25px;
  background: none;
  color: #ffffff;

}

.id::placeholder {
  color: #636e72;
}

.signup {
  width: 100%;
  border: 0px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  font-size: 16px;
  color: #ffffff;
}

.btn {
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  background: #00a7f6;
  background-position: left;
  background-size: 200%;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  display: inline;
  font-size: 20px;
}


.bottomText1 {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}

.bottomText2 {
  text-align: center;
  font-size: 16px;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
}

.signup_button_td1 {
  padding: 15px 15px;
}

.signup_button_td2 {
  border: 1px solid #adadad;
  padding: 10px 10px;
}