<div class="loginForm">
    <h2>가입 완료</h2>
    <div class="resultForm">
        <%= user.id %>님 가입을 진심으로 환영합니다.
    </div>
    <form method="post" action="/login">
        <input type="hidden" name="previousPath" value="<%= previousPath %>">
        <input type="submit" class="btn" value="로그인하기">
    </form>
</div>