<div id="head">
    <video controls>
        <source src="/video/fifa23.mp4" type="video/mp4">
    </video>
    <table class="gm">
        <tr>
            <td colspan="3">피파 23</td>
        </tr>
        <tr style="overflow-y:auto; overflow-x:hidden; width:100%; height:150px;">
            <td colspan="3"><img src="/img/fifa23.png"></td>
        </tr>
        <tr>
            <td>장르</td>
            <td>스포츠(축구)</td>
        </tr>
        <tr>
            <td>개발사</td>
            <td>EA Sports</td>
        </tr>
        <tr>
            <td>배급사</td>
            <td>EA</td>
        </tr>
        <tr>
            <td>플랫폼</td>
            <td>PC<br>PS4, PS5<br>XBOX ONE, XBOX SERIES X|S<br>NS</td>
        </tr>
        <tr>
            <td>출시일</td>
            <td>2020.09.30</td>
        </tr>
        <tr>
            <td>한국어<br>지원여부</td>
            <td>지원</td>
        </tr>
    </table>
</div>
<form method="post" action="/modifiedAction">
    <table class="t">
        <thead>
            <tr>
                <th colspan="2" class="top" style="text-align:left">게시판 글쓰기 양식<input style="float:right; color:black;"
                        class="write" type="submit" value="글쓰기"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="tt" type="text" placeholder="글 제목" name="textTitle" maxlength="50"
                        value="<%= text.textTitle%>"></td>
            </tr>
            <tr>
                <td><textarea class="tt" placeholder="글 내용" name="textContent" maxlength="2048"
                        style="height:350px;"><%=text.textContent%></textarea></td>
            </tr>
        </tbody>
    </table>
    <input type="hidden" name="textNumber" value="<%= text.textNum %>">
    <input type="hidden" name="previousPath" value="<%= previousPath %>">
</form>