<div id="head">
    <video controls>
        <source src="/video/ACV.mp4" type="video/mp4">
    </video>
    <table class="gm">
        <tr>
            <td colspan="3">어쌔신 크리드<br>발할라</td>
        </tr>
        <tr style="overflow-y:auto; overflow-x:hidden; width:100%; height:150px;">
            <td colspan="3"><img src="/img/ACV.png"></td>
        </tr>
        <tr>
            <td>장르</td>
            <td>3인칭 오픈 월드 액션 RPG</td>
        </tr>
        <tr>
            <td>개발사</td>
            <td>Ubisoft</td>
        </tr>
        <tr>
            <td>배급사</td>
            <td>Ubisoft</td>
        </tr>
        <tr>
            <td>플랫폼</td>
            <td>PC<br>PS4, PS5<br>XBOX ONE, XBOX SERIES X|S</td>
        </tr>
        <tr>
            <td>출시일</td>
            <td>2020.11.10</td>
        </tr>
        <tr>
            <td>한국어<br>지원여부</td>
            <td>지원</td>
        </tr>
    </table>
</div>
<form method="post" action="/writeAction">
    <table class="t">
        <thead>
            <tr>
                <th colspan="2" class="top" style="text-align:left">게시판 글쓰기 양식<input style="float:right; color: black;"
                        type="submit" value="글쓰기" class="write"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="tt" type="text" placeholder="글 제목" name="textTitle" maxlength="50"></td>
            </tr>
            <tr>
                <td><textarea class="tt" placeholder="글 내용" name="textContent" maxlength="2048"
                        style="height:350px;"></textarea></td>
            </tr>
        </tbody>
    </table>
    <input type="hidden" name="previousPath" value="<%= previousPath %>">
</form>