<div class="loginForm">
    <h2>ID 찾기</h2>
    <div class="resultForm">
        아이디는 <%= user.id %> 입니다.
    </div>

    <form action="/login" method="post">
        <input type="hidden" name="previousPath" value="<%= previousPath %>">
        <input type="submit" class="btn" value="로그인하기">
    </form>
</div>